@charset "UTF - 8";



* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("imagens/fundo-madeira.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



 img {
    margin: auto;
    position: absolute;
    top: 5%;
    left: 40%;
 }

 iframe {
    position: absolute;
    top: 16.3%;
    left: 42.8%;
    width: 282px;
    height: 475px;
}

.casa {
    position: absolute;
    left: 9%;
    width: 50px;
    height: 50px;
}

.ins {
    position: absolute;
    left: 9%;
    top: 15%;
    width: 50px;
    height: 50px;
}

.you {
    position: absolute;
    left: 9%;
    top: 25%;
    width: 50px;
    height: 50px;
}

.git {
    position: absolute;
    left: 9%;
    top: 35%;
    width: 50px;
    height: 50px;
}

.tui {
    position: absolute;
    left: 9%;
    top: 45%;
    width: 50px;
    height: 50px;
}

.fic {
    position: absolute;
    left: 9%;
    top: 55%;
    width: 50px;
    height: 50px;
}